<app-nav></app-nav>
<div class="container mt-5">
  <h3 class="text-center mb-3">Bất động sản yêu thích</h3>
  <div class="py-2 border-top">
    <div class="row">
      <div class="col-3">
        <img src="/assets/images/img1.jpeg" class="img-fluid" alt="" />
      </div>
      <div class="col-9">
        <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
        <p>Quận Tân Bình, TPHCM</p>
        <h6>21 m2</h6>
        <h5>2 triệu 900 nghìn</h5>
      </div>
    </div>
  </div>
  <div class="py-2 border-top">
    <div class="row">
      <div class="col-3">
        <img src="/assets/images/img1.jpeg" class="img-fluid" alt="" />
      </div>
      <div class="col-9">
        <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
        <p>Quận Tân Bình, TPHCM</p>
        <h6>21 m2</h6>
        <h5>2 triệu 900 nghìn</h5>
      </div>
    </div>
  </div>
  <div class="py-2 border-top">
    <div class="row">
      <div class="col-3">
        <img src="/assets/images/img1.jpeg" class="img-fluid" alt="" />
      </div>
      <div class="col-9">
        <h6>CHDV ngay cầu tham lương - 1PN riêng - ( chính chủ )</h6>
        <p>Quận Tân Bình, TPHCM</p>
        <h6>21 m2</h6>
        <h5>2 triệu 900 nghìn</h5>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
