<app-owner-nav></app-owner-nav>
<div class="body pt-5">
  <h1 class="text-center text-white">Thông tin tài khoản</h1>
  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <div class="bg-white p-5 text-center">
          <img
            src="/assets/images/images.png"
            style="width: 100px; height: 100px"
            alt=""
            class="rounded-circle"
          />
          <h5 class="mt-2">Trần Hoàng Đăng</h5>
          <p>0123456789</p>
        </div>
      </div>
      <div class="col-8">
        <div class="bg-white p-5">
          <h5 class="fw-bold">Tin đăng của tôi</h5>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">Đang đăng:</th>
                <td>0</td>
                <td>
                  <button class="btn btn-sm btn-outline-success">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Tin lỗi:</th>
                <td>0</td>
                <td>
                  <button class="btn btn-sm btn-outline-success">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Tin khác:</th>
                <td>0</td>
                <td>
                  <button class="btn btn-sm btn-outline-success">
                    Chi tiết
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">Tổng số tin:</th>
                <td>0</td>
                <td>
                  <button class="btn btn-sm btn-outline-success">
                    Chi tiết
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
