<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/images/key.png" style="width: 40px" />TDTU
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/tim-thue">Tìm thuê</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="#">Hỏi đáp</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" routerLink="/dang-nhap">Đăng nhập</a>
        </li>
        <li class="nav-item me-3">
          <button class="btn btn-primary btn-sm">Đăng tin</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
