<app-nav></app-nav>
<div class="container-fluid bg-primary p-5 mb-3">
  <div class="row">
    <div class="col-sm col-md-6 mx-auto p-5 bg-light rounded">
      <form class="d-flex">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Tìm kiếm"
            aria-describedby="button-addon2"
          />
          <button class="btn btn-primary" type="button" id="button-addon2">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>Quận</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>Loại BĐS</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-4">
          <select class="form-select" aria-label="Default select example">
            <option selected>Giá</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h4>Gần trường</h4>
  <div class="row mb-3">
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
  </div>
  <h4>Mới nhất</h4>
  <div class="row mb-3">
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-3">
      <div class="card img-fluid" style="width: 18rem">
        <img src="/assets/images/img1.jpeg" class="card-img-top" alt="..." />
        <div class="card-body">
          <span class="card-text">Căn hộ cao cấp</span>
          <h6>2km - 30m2</h6>
          <h5>6 triệu 700 nghìn</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
